:root{
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --accent-color:#FFF;
    --adress-color: rgba(255, 255, 255, 0.6);
    --navigation-color:#2196F3;
    --primary-white-color: #fff;
    --background-color:#2F303A;
    --backgroun-color2: #F5F5F5;
}
body{
    background-color: #fff;
    color: var(--primary-text-color);
}
.logo{
    color:#000;
}
.logo:hover{
    color: var(--navigation-color);
}
.logotype{
    color: var(--navigation-color);
}
.list{
    list-style: none;
}

/*Site nav*/
.site-nav .link {
    color:var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--navigation-color);
}

.site-nav .link.studio{
    color:var(--navigation-color);
}

.portfolio:hover,
.portfolio:focus {
    color: var(--nav-color);
}
/*Hero*/
.hero-title{
    color: var(--accent-color);
}
/*Section*/
.hero{
    background-color:var(--background-color);
    color: var(--primary-text-color);
}
/*Section*/
.features-list .title{
color: var(--primary-text-color);
}
.button-hero{
    color: var(--primary-text-color);
    background-color:var(--primary-bg-color);
}
.button {
    background-color: var(--navigation-color);
    color: #FFF;
}
.header{
    background-color: #FFF;
}
.logo-footer{
    color:var(--accent-color);
}
.logotype-footer{
    color:var(--navigation-color);
}
.footer{
    background-color: var(--background-color);
}
.city{
    color:var(--primary-white-color);
}
.adress{
    color: var(--adress-color);
}